.Form{
    text-align: center;
    padding: 20 px;
    color: azure;
}

.All form{
    padding: 100px;
    border: solid black 2px;
    margin: 100px 200px;
    width: 50%;
    height: 20px;
    background-color: beige;
    margin: 100px auto;
    box-shadow: 0px 5px 5px 5px burlywood;
}

h1{
    text-align: center;
    font-style: inherit;
    color: aquamarine;
}

p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}

h2{
    color: blanchedalmond;
    font-style: italic;
    text-align: center;
    padding: 50px 0px 0px 0px;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQghr6i4wql9nZE_a5pK-2IDNWvhAv_jto2oA&s)
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;
    margin:0;
}

#result{
    font-weight: bold;
    text-align: center;
    color: brown;
}

#submit{
    text-align: center;
    font-weight: bold;
    color: black;
}










