.Form{
    text-align: center;
    padding: 20 px;
    color: rgb(197, 26, 40);
}

.All form{
    padding: 100px;
    border: solid black 2px;
    margin: 100px 200px;
    width: 50%;
    height: 30px;
    background-color: rgb(140, 9, 101);
    margin: 20px auto;
    box-shadow: 0px 5px 5px 5px burlywood;
}

h1{
    text-align: center;
    font-style: inherit;
    color: rgb(69, 223, 218);
}

p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}

h2{
    color: rgb(140, 12, 123);
    font-style: italic;
    text-align: center;
    padding: 50px 0px 0px 0px;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHpjZzh1IgkZGgboeyvmRP6TyGuWe-0h5Qew&s);
    filter: blur(1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200vh;
    margin:0;
}

#result{
    font-weight: bold;
    text-align: center;
    color: rgb(127, 10, 153);
}

#submit{
    text-align: center;
    font-weight: bold;
    color: black;
}










