.Form{
    text-align: center;
    padding: 20 px;
    color: azure;
}

.All form{
    padding: 100px;
    border: solid black 2px;
    margin: 100px 200px;
    width: 50%;
    height: 250px;
    background-color: beige;
    margin: 100px auto;
    box-shadow: 0px 5px 5px 5px burlywood;
}

h1{
    text-align: center;
    font-style: inherit;
    color: aquamarine;
}

p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}

h2{
    color: blanchedalmond;
    font-style: italic;
    text-align: center;
    padding: 50px 0px 0px 0px;
}












