.Form{
    text-align: center;
    padding: 20 px;
    color: rgb(197, 26, 40);
}
.All{
    display: flex;
    justify-content: center;
    align-items: center;
}

.All form{
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: solid black 2px;
    width: 50%;
    height: 30px;
    background-color: burlywood;
    margin: 20px auto;
    box-shadow: 0px 5px 5px 5px burlywood;
}

h1{
    text-align: center;
    font-style: inherit;
    color: rgb(69, 223, 218);
}

p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
}

h2{
    color: rgb(140, 12, 123);
    font-style: italic;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

html body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.unsplash.com/photo-1570492903043-3d30df7133d5?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdoaXRlJTIwaG91c2V8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#result{
    font-weight: bold;
    text-align: center;
    color: rgb(127, 10, 153);
}

#submit{
    text-align: center;
    font-weight: bold;
    color: black;
}










